# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# config
/.commitlintrc.js
/.editorconfig
/.fatherrc.ts
/.prettierignore
/.prettierrc
/.umirc.ts
/tsconfig.json
/typings.d.ts
/yarn.lock

# source code
/src
/public
/docs

# production
/docs-dist

